.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-black;
  color: $color-white;
  padding: 30px 50px;
  @media screen and (min-width: $break-m) {
    padding: 0 30px;
    align-items: unset;
    height: 58px;
    flex-direction: row;
    position: fixed;
  }
  p {
    margin: 0;
  }

  &--branding {
    margin-bottom: 30px;
    @media screen and (min-width: $break-m) {
      margin-bottom: 0;
    }
    svg {
      width: 36px;
      position: relative;
      top: 12px;
    }
    p {
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 1.125rem;
      display: inline;
      margin-left: 10px;
      @media screen and (min-width: $break-m) {
        line-height: 58px;
      }
    }
    a {
      color: white;
    }
  }

  &--copyright {
    letter-spacing: 0.5px;
    @media screen and (min-width: $break-m) {
      line-height: 58px;
      margin-left: auto;
    }
  }
}
