// Menu Styles
.menu {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  background: $shade;
  @media screen and (max-width: $mobile-small) {
    width: 250px;
  }
  .me {
    margin-top: 50px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: white;
    box-shadow: $shadows;
  }
  .description {
    position: relative;
    border-radius: 2px;
    margin-top: 30px;
    width: 70%;
    padding: 20px;
    background: white;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    box-shadow: $shadows;
    &:before {
      position: absolute;
      top: -10px;
      left: 45%;
      height: 0;
      width: 2px;
      content: ' ';
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid white;
    }
    p {
      margin: 0;
      a {
        color: $red;
      }
    }
  }
}
