// Imports
@import 'variables';
@import 'animations';
@import 'menu';
@import 'content';

// General Styles
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: $shade;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
